spring:
  datasource:
    url: jdbc:mysql://localhost:3306/login_db?useSSL=false&serverTimezone=Asia/Tokyo
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: validate
server:
  port: 8080
